<html>
<head>
	<meta http-equiv="Content-Type"content="text/html;charset=urf-8"/>
	<title>{% block title %}NI Product ATS Reports{% end %}</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url("CSS/bootstrap.css") }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url("CSS/jquery.jqplot.min.css") }}" />	
	<link rel="stylesheet" type="text/css" href="{{ static_url("CSS/font-awesome.min.css") }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url("CSS/buttons.css") }}"/>	
	<script type="text/javascript" src="{{ static_url("JS/jquery.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("JS/jquery.jqplot.min.js") }}"></script>	
	<script type="text/javascript" src="{{ static_url("JS/jqplot.barRenderer.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("JS/jqplot.categoryAxisRenderer.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("JS/jqplot.pointLabels.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("JS/jqplot.canvasTextRenderer.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("JS/jqplot.canvasAxisLabelRenderer.min.js") }}"></script>
	
</head>
<script type="text/javascript">
	{% block script %} 
	{% end %}
</script>
<body>
	{% block body %} 
	{% end %}
</body>
</html>