<html>
<head>
	<meta http-equiv="Content-Type"content="text/html;charset=urf-8"/>
	<title>{% block title %}NI FRC ATS Reports{% end %}</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url("CSS/bootstrap.css") }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url("CSS/font-awesome.min.css") }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url("CSS/tcal.css") }}"/>	
	<link rel="stylesheet" type="text/css" href="{{ static_url("CSS/buttons.css") }}"/>	
	<script type="text/javascript" src="{{ static_url("JS/jquery.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("CSS/tcal.js") }}"></script> 
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid" id="myRIO">
		<div class="row-fluid">
			<hr color="#8B1A1A" size="10"/>
		</div>
		<div class="row-fluid">
			<div class="offset4">
				<font color="#4F94CD" size="10"><b>NI myRIO ATS Report</b></font>
			</div>
		</div>
		<div class="row-fluid">
			<hr color="#FFFFFF" size="10"/>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<ul style="list-style:none;">
				 <li><a href="/myRIO/Today" class="button button-flat-primary button-block button-large">myRIO Today's Report</a></br></li>
				 
				 <li><a href="/myRIO/Yesterday" class="button button-flat-primary button-block button-large">myRIO Yesterday's Report</a></br></li>
				 
				 <li><a href="/myRIO/Monthly" class="button button-flat-primary button-block button-large">myRIO History Reports</a></br></li>
				</ul>
			</div>
			<div class="span1">
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<h1><b><font color="#8B1A1A">OR</font></b></h1>
			</div>
			<div class="span5">
				<div class="row">
					<div class="span5">
						<br/>
						<br/>
						<br/>
						<h2><font color="#4F94CD">Choose a Date:</font></h2>
					</div>
				</div>
				<div class="row">
					<div class="span5">
						<form action="/myRIO/ChooseDate" method="post">
						<div><input type="text" name="myRIODate" class="tcal input-xlarge" placeholder="Please Choose a Date" value="" /></div>
						<div><button type="submit" class="button button-flat-primary button-small">Go!</button></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row-fluid" id="FRC">
		<div class="row-fluid">
			<hr color="#8B1A1A" size="10"/>
		</div>
		<div class="row-fluid">
			<div class="offset4">
				<font color="#FF7F24" size="10"><b>NI FRC ATS Report</b></font>
			</div>
		</div>
		<div class="row-fluid">
			<hr color="#FFFFFF" size="10"/>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<ul style="list-style:none;">
				 <li><a href="/FRC/Today" class="button button-flat-highlight button-block button-large">FRC Today's Report</a></br></li>
				 
				 <li><a href="/FRC/Yesterday" class="button button-flat-highlight button-block button-large">FRC Yesterday's Report</a></br></li>
				 
				 <li><a href="/FRC/Monthly" class="button button-flat-highlight button-block button-large">FRC History Reports</a></br></li>
				</ul>
			</div>
			<div class="span1">
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<h1><b><font color="#8B1A1A">OR</font></b></h1>
			</div>
			<div class="span5">
				<div class="row">
					<div class="span5">
						<br/>
						<br/>
						<br/>
						<h2><font color="#FF7F24">Choose a Date:</font></h2>
					</div>
				</div>
				<div class="row">
					<div class="span5">
						<form action="/FRC/ChooseDate" method="post">
						<div><input type="text" name="FRCDate" class="tcal input-xlarge" placeholder="Please Choose a Date" value="" /></div>
						<div><button type="submit" class="button button-flat-highlight button-small">Go!</button></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<hr color="#8B1A1A" size="10"/>
		</div>
	</div>
</div>
</body>
</html>