{% extends "Base.html" %}
{% block script%}
$(document).ready(function(){
		var Ticks = [];
		{% for t in ticks %}
			Ticks.push('{{ t }}');
		{% end %}
		var Link = [];
		{% for l in link %}
			Link.push('{{ escape(l) }}');
		{% end %}
		var Total = [];
		{% for t in total %}
			Total.push({{ escape(t) }});
		{% end %}
		var Passed = [];
		{% for p in passed %}
			Passed.push({{ escape(p) }});
		{% end %}
		var Failed = [];
		{% for i in range(0,len(passed)) %}
			Failed.push({{ escape(str(int(total[i]) - int(passed[i])))}});
		{% end %}
		var PassedRate = new Array()
		for(var i = 0;i<Failed.length;i++)
			if(Total[i]!=0)
				PassedRate.push(((Total[i] - Failed[i])*100/Total[i]).toFixed(1).toString()+'%');
			else
				PassedRate.push('0.0%');
		var FailedLabels = [];
		for(var i = 0;i<Failed.length;i++)
			if(Failed[i]!=0 && Failed[i]!=Total[i])
				FailedLabels.push(Failed[i].toString());
			else
				FailedLabels.push('');
		var bar_chart = $.jqplot('bar_chart', [Failed,Passed], {
			stackSeries: true, 
			captureRightClick:true,
			seriesColors:['#FF99CC', '#99FF00'],
			seriesDefaults: {
				renderer: $.jqplot.BarRenderer,
				pointLabels: {show: true,
					stackedValue: true,
					},
			},
			series:[
				{label:'Failed',pointLabels:{show:true,labels:FailedLabels}},
				{label:'Passed',pointLabels:{show:true,labels:PassedRate}}
				],
			axes:{
				xaxis:{
					renderer:$.jqplot.CategoryAxisRenderer ,
					ticks:Ticks,
					label:'Date',
					labelRenderer: $.jqplot.CanvasAxisLabelRenderer},
				yaxis:{
					label:'Number of Tests',
					labelRenderer: $.jqplot.CanvasAxisLabelRenderer}
				},
			legend: {
				  show: true,
				  placement: 'outsideGrid'
				}      
	  });
	  $('#bar_chart').bind('jqplotDataClick',function(ev,seriesIndex,pointIndex,data){
		window.location.href = Link[pointIndex];
	});
    });
	
{% end %}
{% block body %}
<div class="row">
	<div class="span10 offset5">
		<h1>NI <font color="Red">{{escape(productName)}}</font> Monthly Report</h1>
	</div>
</div>
<div class="row">
	<div class="span4 offset5">
		<h2>{{escape(date)}}</h2>
	</div>
	<div class="span2" style="margin-left: 375px;">
		<a href="/" class="button button-flat-royal button-block button-small">HomePage</a>
	</div>
</div>

<div class="row">
	<div class="span12 offset1">
		<div id="bar_chart" style="height:850px;width:1216px; "></div>
	</div>
</div>
{% end %}