<html>
<head>
	<meta http-equiv="Content-Type"content="text/html;charset=urf-8"/>
	<title>Wrong</title>
	<link rel="stylesheet" href="{{ static_url("CSS/bootstrap.css") }}"  type="text/css"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url("CSS/font-awesome.min.css") }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url("CSS/buttons.css") }}"/>	
</head>

<body>
	<div class='row'>
		<div class="span5 offset6">
			<img src="{{ static_url("image/wrong.jpg") }}" alt="" /> 
		</div>
	</div>
	
	<div class='row'>
		<div class="span9 offset4">
			<br/>
			<br/>
			<h1><font color="red"><b> We haven't got {{ escape(productName) }} {{ escape(date) }}'s Report!!</b></font></h1>
		</div>
	</div>
	<div class='row'>
		<div class="span4 offset6">
			 <a href="/" class="button button-flat-caution button-block button-small">HomePage</a>
		</div>
	</div>
</body>
</html>